.appBanner
  .inner
    %h2.inner__title だれでも簡単、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to "/", target: "_self" do
        = image_tag "logo/download-on-the-app-store-apple.svg", class:"apple--logo"
      = link_to "/", target: "_self" do
        = image_tag "logo/google-play-badge.svg", class:"google--logo"
.footer--contents
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul.lists
        %li.list
          = link_to "会社概要（運営会社）", "#", class: "link"
        %li.list
          = link_to "プライバシーポリシー", "#", class: "link"
        %li.list
          = link_to "FURIMA利用規約", "#", class: "link"
        %li.list
          = link_to "ポイントに関する特約", "#", class: "link"
    %li.content
      %h2.content__head FURIMAを見る
      %ul.lists
        %li.list
          = link_to "カテゴリー一覧", "#", class: "link"
        %li.list
          = link_to "ブランド一覧", "#", class: "link"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul.lists
        %li.list
          = link_to "FURIMAガイド", "#", class: "link"
        %li.list
          = link_to "FURIMAロゴ利用ガイドライン", "#", class: "link"
        %li.list
          = link_to "お知らせ", "#", class: "link"
  .footer--logo
    = link_to "/", target: "_self" do
      = image_tag "logo/logo-white.png", class:"white--logo"
    %p ©︎ FURIMA
= link_to '出品', new_product_path
%br
.contents
  = render @products
=link_to "/items/new"
  .sell-btn
    %span.sell-btn__text
      出品する
    = image_tag 'icon/icon_camera.png',class:"sell-btn__icon"
