%script{:src => "new_category.js"}

.item-new-header
  .item-new-header__logo
    = link_to root_path do
      = image_tag "logo.png", width: "170px", height: "50px", class: "item-new-header__logo__image"
= render partial: 'error-messages', locals: { item: @item.errors, column: 'name'}
.item-new-main
  .item-new-main__wrapper
    .item-new-contents
      = form_with model: @item, local: true do |form|
        / 画像
        .item-new-images
          .item-new-images__block
            .item-new-images__block__label
              %label.item-new-images__block__label__title 出品画像
              %span.item-new-form 必須
            %p.item-new-label 最大4枚までアップロード可能
            / 画像4枚挿入
            .item-new-images__block__container#image-box-1
              #image-box
                #previews
                  - if @item.persisted?
                    - @item.item_images.each_with_index do |image, i|
                      = image_tag image.image_url.url, data: { index: i }, width: "100", height: '100'
                = form.fields_for :item_images do |image|
                  .js-file_group{"data-index" => image.index}
                    = image.file_field :image_url, class: 'js-file'
                    %br/
                    %span.js-remove 削除
                  - if @item.persisted?
                    = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                - if @item.persisted?
                  .js-file_group{"data-index" => @item.item_images.count}
                    = file_field_tag :image_url, name: "item[item_images_attributes][#{@item.item_images.count}][image_url]", class: 'js-file'
                    .js-remove 削除
        / 商品の概要
        .item-new-overview
          .item-new-overview__block
            %p.item-new-label 商品の概要
            / 商品名
            .item-new-overview__block__name
              .item-new-overview__block__name__label
                %label.item-new-overview__block__name__label__title 商品名
                %span.item-new-form 必須
              = form.text_field :name, placeholder: "商品名(40文字まで)", class: "item-new-overview__block__name__content"
            / 商品の説明
            .item-new-overview__block__message
              .item-new-overview__block__message__label
                %label.item-new-overview__block__message__label__title 商品の説明
                %span.item-new-form 必須
              = form.text_area :i_text, placeholder: "商品の説明(1,000文字以内)\n色、素材、重さ、定価、注意点など", class: "item-new-overview__block__message__content"
            / カテゴリー
            .item-new-overview__block__category
              .item-new-overview__block__category__label
                %label.item-new-overview__block__category__label__title カテゴリー
                %span.item-new-overview__block__category__label__required.item-new-form 必須
                //- binding.pry
              = form.select :category, @category_parent_array, {},{class: 'item-new-overview__block__category__content', id: 'parent_category'}
              %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down

            / ブランド
            .item-new-overview__block__brand
              .item-new-overview__block__brand__label
                %label.item-new-overview__block__brand__label__title ブランド
              = form.text_field :brand_id, placeholder: "ブランド", class: "item-new-overview__block__brand__content"
            / 商品の状態
            .item-new-overview__block__select
              .item-new-overview__block__select__label
                %label.item-new-overview__block__select__label__title 商品の状態
                %span.item-new-overview__block__select__label__required.item-new-form 必須
              = form.collection_select :condition_id, Itemcondition.all, :id, :value, {prompt: "選択してください"}, class: "item-new-overview__block__select__content"
        / 配送について===================================
        .item-new-delivery
          = form.fields_for :shipping, local: true do |i|
            .item-new-delivery__block
              %p.item-new-label 配送について
              / 配送料の負担
              .item-new-delivery__block__select
                .item-new-delivery__block__select__label
                  %label.item-new-delivery__block__select__label__title 配送料の負担
                  %span.item-new-delivery__block__select__label__required.item-new-form 必須
                = i.collection_select :fee_burgen_id, Deliveryfeeburgen.all, :id, :value, {prompt: "選択してください"}, class: "item-new-overview__block__select__content"
              / 配送方法
              .item-new-delivery__block__select
                .item-new-delivery__block__select__label
                  %label.item-new-delivery__block__select__label__title 配送方法
                  %span.item-new-delivery__block__select__label__required.item-new-form 必須
                = i.collection_select :service_id, Deliveryservice.all, :id, :value, {prompt: "選択してください"}, class: "item-new-overview__block__select__content"
              / 発送元の地域
              .item-new-delivery__block__select
                .item-new-delivery__block__select__label
                  %label.item-new-delivery__block__select__label__title 発送元の地域
                  %span.item-new-delivery__block__select__label__required.item-new-form 必須
                = i.collection_select :area_id, Deliveryarea.all, :id, :name, {prompt: "選択してください"}, class: "item-new-delivery__block__select__content"
              / 発送日数
              .item-new-delivery__block__select
                .item-new-delivery__block__select__label
                  %label.item-new-delivery__block__select__label__title 発送日数
                  %span.item-new-delivery__block__select__label__required.item-new-form 必須
                = i.collection_select :handling_time_id, Deliveryhandlingtime.all, :id, :value, {prompt: "選択してください"}, class: "item-new-delivery__block__select__content"
        / 価格==================================================
        .item-new-price
          .item-new-price__block
            %p.item-new-label 価格(¥300〜9,999,999)
            / 販売価格
            .item-new-price__block__selling
              .item-new-price__block__selling__label
                %label.item-new-price__block__selling__label__title 販売価格
                %span.item-new-price__block__selling__label__required.item-new-form 必須
              .item-new-price__block__selling__content 
                %span.item-new-price-fee ¥
                = form.text_field :price, placeholder: "〜9,999,999", class: "item-new-price__block__selling__content__input"
            / 販売手数料
            .item-new-price__block__committion
              .item-new-price__block__committion__label
                %label.item-new-price__block__committion__label__title 販売手数料
              .item-new-price__block__committion__content
              %span.item-new-price-fee ¥--
              / 自動計算 手数料10%
            / 販売利益
            .item-new-price__block__profit
              .item-new-price__block__profit__label
                %label.item-new-price__block__profit__label__title 販売利益
              .item-new-price__block__profit__content
              %span.item-new-price-fee ¥--
              / 販売利益 算出
            / ボタン
            .item-new-btn-content
              - if @item.persisted?
                = form.submit "変更する",  class:"item-new-btn-content__form"
              - else
                = form.submit "出品する",  class:"item-new-btn-content__form"

.item-new-footer
  .item-new-footer__logo
    = link_to items_path do
      = image_tag "logo-white.png", width: "170px", height: "50px", class: "item-new-footer__logo__image"
    %p.item-new-footer__logo__copyright © FURIMA

