
.headers
  .header
    .main
      .main__img
        = link_to '/',target: "_self" do
          = image_tag 'logo/logo.png', class:'input-text'
      .main__search
        = form_with url:"root_path" do|form|
          = form.text_field :text, class:"text", placeholder: "キーワードから探す"
        .main__search__img
          = image_submit_tag "icon/icon-search 1.png",class:'input'  
    .box
      %ul.box__left
        %li.box__left__categories
          = link_to "カテゴリー", "#", class: "category_title", id: "category_title_id"
          .category_inner_list
            %ul.parents_list
              - @parents.each do |parent|
                %li 
                = link_to "#{parent.name}", items_path(parent), class: "parent_category",id: "#{parent.id}"
            %ul.children_list
            %ul.grand_children_list
        %li.box__left__brand
          = link_to 'ブランド','/'
      .box__right
        - if user_signed_in?
          %li.box__right__login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.box__right__new
            = link_to 'マイページ', users_path
        - else
          %li.box__right__login
            = link_to "ログイン", new_user_session_path
          %li.box__right__new
            = link_to "新規登録", new_user_registration_path
        
