.item-new-header
  .item-new-header__logo
    = link_to root_path do
      = image_tag "logo.png", width: "170px", height: "50px", class: "item-new-header__logo__image"
.item-new-main
  .item-new-main__wrapper
    .item-new-contents
      = form_with local: true do |form|
        / 画像
        .item-new-images
          .item-new-images__block
            .item-new-images__block__label
              %label.item-new-images__block__label__title 出品画像
              %span.item-new-form 必須
            %p.item-new-label 最大4枚までアップロード可能
            / 画像4枚挿入
            .item-new-images__block__container
              .item-new-images__block__container__image
                -# =render partial: 'form'
                = image_tag "logo.png", width: "100px", height: "80px"
                %p.item-new-images__block__container__image__delete
                  削除
              .item-new-images__block__container__image
                = image_tag "logo.png", width: "100px", height: "80px"
                %p.item-new-images__block__container__image__delete
                  削除
              .item-new-images__block__container__image
                = image_tag "logo.png", width: "100px", height: "80px"
                %p.item-new-images__block__container__image__delete
                  削除
              .item-new-images__block__container__image
                = image_tag "logo.png", width: "100px", height: "80px"
                %p.item-new-images__block__container__image__delete
                  削除
        / 商品の概要
        .item-new-overview
          .item-new-overview__block
            %p.item-new-label 商品の概要
            / 商品名
            .item-new-overview__block__name
              .item-new-overview__block__name__label
                %label.item-new-overview__block__name__label__title 商品名
                %span.item-new-form 必須
              = form.text_field :商品名, placeholder: :"", class: "item-new-overview__block__name__content"
            / 商品の説明
            .item-new-overview__block__message
              .item-new-overview__block__message__label
                %label.item-new-overview__block__message__label__title 商品の説明
                %span.item-new-form 必須
              = form.text_area :商品の説明, placeholder: :"", class: "item-new-overview__block__message__content"
            / カテゴリー
            .item-new-overview__block__select
              .item-new-overview__block__select__label
                %label.item-new-overview__block__select__label__title カテゴリー
                %span.item-new-overview__block__item-select__label__required.item-new-form 必須
              = form.text_field :カテゴリー選択, placeholder: :"", class: "item-new-overview__block__select__content"
            / ブランド
            .item-new-overview__block__brand
              .item-new-overview__block__brand__label
                %label.item-new-overview__block__brand__label__title ブランド
              = form.text_field :ブランド, placeholder: :"", class: "item-new-overview__block__brand__content"
            / 商品の状態
            .item-new-overview__block__select
              .item-new-overview__block__select__label
                %label.item-new-overview__block__select__label__title 商品の状態
                %span.item-new-overview__block__item-select__label__required.item-new-form 必須
              = form.text_field :商品の状態, placeholder: :"", class: "item-new-overview__block__select__content"
        / 配送について===================================
        .item-new-delivery
          .item-new-delivery__block
            %p.item-new-label 配送について
            / 配送料の負担
            .item-new-delivery__block__select
              .item-new-delivery__block__select__label
                %label.item-new-delivery__block__select__label__title 配送料の負担
                %span.item-new-delivery__block__select__label__required.item-new-form 必須
              = form.text_field :発送料の負担, placeholder: :"", class: "item-new-delivery__block__select__content"
            / 配送方法
            .item-new-delivery__block__select
              .item-new-delivery__block__select__label
                %label.item-new-delivery__block__select__label__title 配送方法
                %span.item-new-delivery__block__select__label__required.item-new-form 必須
              = form.text_field :発送方法, placeholder: :"", class: "item-new-delivery__block__select__content"
            / 発送元の地域
            .item-new-delivery__block__select
              .item-new-delivery__block__select__label
                %label.item-new-delivery__block__select__label__title 発送元の地域
                %span.item-new-delivery__block__select__label__required.item-new-form 必須
              = form.text_field :発送元の地域, placeholder: :"", class: "item-new-delivery__block__select__content"
            / 発送日数
            .item-new-delivery__block__select
              .item-new-delivery__block__select__label
                %label.item-new-delivery__block__select__label__title 発送日数
                %span.item-new-delivery__block__select__label__required.item-new-form 必須
              = form.text_field :発送日数, placeholder: :"", class: "item-new-delivery__block__select__content"
        / 価格==================================================
        .item-new-price
          .item-new-price__block
            %p.item-new-label 価格(~)
            / 販売価格
            .item-new-price__block__selling
              .item-new-price__block__selling__label
                %label.item-new-price__block__selling__label__title 販売価格
                %span.item-new-price__block__selling__label__required.item-new-form 必須
              .item-new-price__block__selling__content
                %span.item-new-price-fee ¥
                = form.text_field :金額, placeholder: :"", class: "item-new-price__block__selling__content__input"
            / 販売手数料
            .item-new-price__block__committion
              .item-new-price__block__committion__label
                %label.item-new-price__block__committion__label__title 販売手数料
              .item-new-price__block__committion__content
              %span.item-new-price-fee ¥--
              / 自動計算 手数料10%
            / 販売利益
            .item-new-price__block__profit
              .item-new-price__block__profit__label
                %label.item-new-price__block__profit__label__title 販売利益
              .item-new-price__block__profit__content
              %span.item-new-price-fee ¥--
              / 販売利益 算出
            / ボタン
            .item-new-btn-content
              =link_to "#" , class: "item-new-btn-content__form" do
                .item-new-btn-content__form--sell
                  %p.item-new-btn-content__form--font 出品する
.item-new-footer
  .item-new-footer__logo
    = link_to root_path do
      = image_tag "logo-white.png", width: "170px", height: "50px", class: "item-new-footer__logo__image"
    %p.item-new-footer__logo__copyright © FURIMA