.wrapper
  = render "header"
  .breadCrumbs
    .breadCrumb
      %li
        = link_to "FURIMA","#"
      %li
        %i.fa.fa-angle-right
      %li
        = link_to "ベビー・キッズ","#"
      %li
        %i.fa.fa-angle-right
      %li
        = link_to "ベビー服(男女兼用)  ~95cm","#"
      %li
        %i.fa.fa-angle-right
      %li
        = link_to "アウター","#"
      %li
        %i.fa.fa-angle-right
      %li
        %p product3
  .main-item-show
    .showMain
      .contentLeftpp
      .contentRightt
        .topContentt
          .itemBoxx
            %h2.itemBoxx__name
              = @item.name
            .itemBoxx__body
              %ul
                %li
                  =image_tag ("#{@item.item_images[0].image_url}"),class:"image"
                  - @item.item_images.each do |item|
                    =image_tag("#{item.image_url}",  height: '75', width: '75')
            .itemBoxx__price
              %span
                ¥
                =@item.price
              .priCe-Detail
                %span
                  (税込)
                %span
                  送料込み
            .itemDetail
              =@item.i_text
            .show-itemBtn
              - if user_signed_in? && current_user.id == @item.user_id
                .show-itemBtn_off
              - elsif user_signed_in?
                .show-itemBtn_on
                  =link_to "購入画面へ進む" ,purchase_item_path(@item.id)
              - else
                .show-itemBtn_off
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      =@item.user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = Category.find(@item.category_id).parent.parent.name
                      %br
                      = Category.find(@item.category_id).parent.name
                      %br
                      = Category.find(@item.category_id).name
                  %tr
                    %th ブランド
                    %td
                  %tr
                    %th 商品のサイズ
                    %td
                  %tr
                    %th 商品の状態
                    %td
                      =Itemcondition.find(@item.condition_id).value
                      
                  %tr
                    %th 配送料の負担
                    %td
                      =Deliveryfeeburgen.find(@item.shipping.fee_burgen_id).value
                  %tr
                    %th 配送方法
                    %td
                      =Deliveryservice.find(@item.shipping.service_id).value
                  %tr
                    %th 発送元の地域
                    %td
                      =link_to "#" do
                        =Deliveryarea.find(@item.shipping.area_id).name
                  %tr
                    %th 発送日の目安
                    %td 4-7日で発送
            .optionalArea
              - if user_signed_in? && current_user.id == @item.user_id
                .show-itemBtn
                  =link_to "編集する",edit_item_path(@item.id)
              - else user_signed_in? 
                .show-itemBtn_edit-off 
              - if user_signed_in? && current_user.id == @item.user_id
                .show-itemBtn
                  =link_to "削除する",item_path(@item.id), method: :delete
              - else user_signed_in? 
                .show-itemBtn_edit-off 
              .optionalArea__bTn
                %ul
                  %li#likeBtn.optionalBtn.likeBtn
                    %i.fa.fa-star
                    お気に入り 0
                %ul.optional
                  %li.optionalBtn
                    =link_to "#" do
                      %i.fa.fa-flag 不適切な商品の通報
          .commentBoxx
            %ul.commentContents
              %form#new_comment.new_comment{ action: "#",method: "post"}
                %input{name: "utf8", type: "hidden", value: "✓"}/
                %input{name:  "authenticity_token", type: "hidden", value: "UZaji94lj/rTfLW3DcSaCXs2HPv6Ic+zHxCyGaZhfKQcIpGKWGwWxX9gCQcYcZ2SdCqU5NyBOUL3tc3504qWYA=="}
                %textarea#comment_body{name: "comment[body]", required: "required"}
                %p.noticeMsg
                  相手のことを考え丁寧なコメントを心がけましょう。
                  %br/
                  不快な言葉遣いなどは利用制限や退会処分となることがあります。
                %br/
                %button.commentBtn-show{name: "button", type: "submit"}
                  %i.fa.fa-comment
                  コメントする
        %ul.linKs
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            =link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
        .relatedItems
          =link_to "ベビー・キッズをもっと見る" ,"#"
          .productLists
  = render "footer"