%h1 Card#show
%p Find me in app/views/card/show.html.haml
.wrapper
  = render "items/header"
  .main
    .content
      .content__left
        .content__left__mypage
          %h2.mypage-head 設定
          .content__left__mypage__list
            .content__left__mypage__list__item
              =link_to "クレジットカード登録", new_card_path, method: :get
            .content__left__mypage__list__item
              =link_to "サンプル", "#"
            .content__left__mypage__list__item
              =link_to "サンプル", "#"
            .content__left__mypage__list__item
              =link_to "ログアウト", logout_users_path, method: :get
      .content__right3
        .content__right3__card
          .content__right3__card__headcolor
            %h2.content__right3__card__headcolor__text 登録クレジットカード情報
          .content__right3__card__registrationform
            .content__right3__card__registrationform__content
              .content__right3__card__registrationform__content__formgroup1
              -# = form.label :カード番号, class: 'payment_card_no'
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(card_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button 削除する
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
        = form_tag(card_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button 削除する
        .content__right3__card
          .content__right3__card__headcolor
            %h2.content__right3__card__headcolor__text クレジットカード情報入力
          .content__right3__card__registrationform
            = form_with model:@card, local: :true do |form|
              .content__right3__card__registrationform__content
                .content__right3__card__registrationform__content__formgroup1
                  = form.label :カード番号, class: 'payment_card_no'
                  %span.form-require 必須
                  = form.text_field :name, class: 'payment_card_no1', placeholder: '半角数字のみ'
                  %ul#card-no-error-wrapper.has-error-text
                  %ul.signup-card-list
                    %li
                    = image_tag "logo.png", height: "20px"
                    %li
                    = image_tag "logo.png", height: "20px"
                    %li
                    = image_tag "logo.png", height: "20px"
                .content__right3__card__registrationform__content__formgroup2
                  = form.label :有効期限, class: 'payment_card_no'
                  %span.form-require 必須
                  %br/
                  .select-wrap.half_box
                    .select-wrap.half
                      %select#payment_card_expire_mm.select-default
                        %option{:value => "01"} 01
                        %option{:value => "02"} 02
                        %option{:value => "03"} 03
                        %option{:value => "04"} 04
                        %option{:value => "05"} 05
                        %option{:value => "06"} 06
                        %option{:value => "07"} 07
                        %option{:value => "08"} 08
                        %option{:value => "09"} 09
                        %option{:value => "10"} 10
                        %option{:value => "11"} 11
                        %option{:value => "12"} 12
                      %i.icon-arrow-bottom
                      %span 月
                    .select-wrap.half
                      %select#payment_card_expire_yy.select-default
                        %option{:value => "20"} 20
                        %option{:value => "21"} 21
                        %option{:value => "22"} 22
                        %option{:value => "23"} 23
                        %option{:value => "24"} 24
                        %option{:value => "25"} 25
                        %option{:value => "26"} 26
                        %option{:value => "27"} 27
                        %option{:value => "28"} 28
                        %option{:value => "29"} 29
                        %option{:value => "30"} 30
                      %i.icon-arrow-bottom
                      %span 年
                    %ul#expire-mm-error-wrapper.has-error-text
                    %ul#expire-yy-error-wrapper.has-error-text
                  .content__right3__card__registrationform__content__formgroup3
                  = form.label :セキュリティコード, class: 'payment_card_no'
                  %span.form-require 必須
                  = form.text_field :name, class: 'payment_card_no3', placeholder: 'カード背面4桁もしくは3桁の番号'
                .content__right3__card__registrationform__content__formgroup4
                  = link_to "登録する", id: "token_submit"
  =render "items/footer"